.title{
	margin-left: 10%;
	width: 80%;
	height: 15%;
	opacity: 100%;
	text-align: center;
}
.title_content{
	font-size: 50px;
	text-align: left;
	overflow: hidden;
	white-space: nowrap;
	margin-top: 4%;
	-webkit-animation-name:'anim_1';
	-webkit-animation-duration:10s;
	-webkit-animation-timing-function:easy-in-out;
	-webkit-animation-delay:0s;
	-webkit-animation-iteration-count:infinite;
}
.text_content{
	font-size: 30px;
	text-align: left;
	width: 500px;
	overflow: hidden;
	white-space: nowrap;
	padding-left: 12px;
}
.p_content{
	margin-left: 0;
	overflow: hidden;
	white-space: nowrap;
 	height:100%;
	vertical-align:middle;
}
.message_set{
	padding:5%;
	height: 60%;
}
/*#message_1{
	position: absolute;
	left: 100;
	top: 200;
	height: 70;
	width: 800;
	background-color:blue;
}
#message_2{
	position: absolute;
	left: 100;
	top: 350;
	height: 70;
	width: 800;
	background-color:blue;
}
#message_3{
	position: absolute;
	left: 100;
	top: 500;
	height: 70;
	width: 800;
	background-color:blue;
}*/
.head{
	float:left;
	width: 10%;
	height: 100%;
	text-align: center;
}
.head img{
	background: url("./loading.gif");
	width: 100%;
	height: 100%;
}
@-webkit-keyframes 'anim_1'{
	0%{
		margin-left: 100%;
	}
	100%{
		margin-left: 0%;
	}
}
body{
	background: url("./background.jpg");
	background-size: 100%;
}