{%extends 'base.html'%}

{% block title %}Cart{% endblock %}

{% block content %}
<div class="wrap">
	
<form method="post" action="order.html"> 
<div class="container">
	<div class="cart clear">
   		<div class="shadow">
        <table width="100%" border="0">
            <tr>
                <td width="85%">
                  <h3 class="fl">购买到的产品</h3></li>
                </td>
                <td width="10%"> <input type="checkbox" class="checkbox"  name="check_all" id="check_all" > </td>
            </tr>
        </table>
     
       
       <div class="c_list cb">
       	<ul>
        	<li>
            	<table>
                	<tr>
                    	<td width="15%"><img src="..static/images/images/product1.png" width="52" height="44"></td>
                        <td width="65%">
                        	<p>NBA LW 黑金系列 湖人 科比 81分 纪念T恤</p>
                            <p><span class="lse">￥199.00</span> <span class="pl15">数量：<input type="text" name="num" class="num"> 件</span></p>
                        </td>
                        <td width="10%" valign="middle"><a href="#" class="del">删除</a></td>
                        <td width="10%"> <input type="checkbox" class="checkbox"  name="check_item" id="check_item"></td>
                    </tr>
                </table>
              </li>
             
              <li> 
               <table>
                	<tr>
                    	<td width="15%"><img src="..static/images/images/product2.jpg" width="52" height="44"></td>
                        <td width="65%">
                        	<p>NBA M&N 迈克尔·乔丹 95-96总冠军 珍藏版篮球服</p>
                            <p><span class="lse">￥2299.00</span> <span class="pl15">数量：<input type="text" name="num" class="num"> 件</span></p>
                        </td>
                        <td width="10%" valign="middle"><a href="#" class="del">删除</a></td>
                        <td width="10%"> <input type="checkbox" class="checkbox"  name="check_item" id="check_item"></td>
                    </tr>
                </table>
                </li>
                
                <li>
                <table>
                	<tr>
                    	<td width="15%"><img src="..static/images/images/product3.jpg" width="52" height="44"></td>
                        <td width="65%">
                        	<p>NBA LW 2016总决赛 骑士队詹姆斯MVP纪念T恤</p>
                            <p><span class="lse">￥259.00</span> <span class="pl15">数量：<input type="text" name="num" class="num"> 件</span></p>
                        </td>
                        <td width="10%" valign="middle"><a href="#" class="del">删除</a></td>
                        <td width="10%"> <input type="checkbox" class="checkbox"  name="check_item" id="check_item"></td>
                    </tr>
                </table>
                </li>
               
               <li>
               <table>
                	<tr>
                    	<td width="15%"><img src="..static/images/images/product4.jpg" width="52" height="44"></td>
                        <td width="65%">
                        	<p>NBA LW LR系列 勇士队库里 男士夏季运动休闲T恤</p>
                            <p><span class="lse">￥199.00</span> <span class="pl15">数量：<input type="text" name="num" class="num"> 件</span></p>
                        </td>
                        <td width="10%" valign="middle"><a href="#" class="del">删除</a></td>
                        <td width="10%"> <input type="checkbox" class="checkbox"  name="check_item" id="check_item"></td>
                    </tr>
                </table>
                </li>
                <li>
                <table>
                	<tr>
                    	<td width="15%"><img src="..static/images/images/product5.jpg" width="52" height="44"></td>
                        <td width="65%">
                        	<p>NBA LW LR系列 森林狼加内特 男士夏季运动休闲T恤</p>
                            <p><span class="lse">￥199.00</span> <span class="pl15">数量：<input type="text" name="num" class="num"> 件</span></p>
                        </td>
                        <td width="10%" valign="middle"><a href="#" class="del">删除</a></td>
                        <td width="10%"> <input type="checkbox" class="checkbox"  name="check_item" id="check_item"></td>
                    </tr>
                </table>
                </li>
               
               <li>
               <table>
                	<tr>
                    	<td width="15%"><img src="..static/images/images/product6.jpg" width="52" height="44"></td>
                        <td width="65%">
                        	<p>NBA 马刺队 邓肯 夏季篮球运动T恤男 圆领休闲短袖</p>
                            <p><span class="lse">￥249.00</span> <span class="pl15">数量：<input type="text" name="num" class="num"> 件</span></p>
                        </td>
                        <td width="10%" valign="middle"><a href="#" class="del">删除</a></td>
                        <td width="10%"> <input type="checkbox" class="checkbox"  name="check_item" id="check_item"></td>
                    </tr>
                </table>
                </li>
        </ul>
       </div>
       
       
    </div>  
    </div>
</div>

<div class="cart_bg">
<table width="100%" border="0">
    <tr>
    	<td width="3%"></td>
        <td width="25%"><input type="checkbox" class="checkbox" id="box_all"> 全选</td>
        <td width="49%">
            <p> <span class="pl15">金额合计：</span><span class="ff6">￥0</span></p>
        </td>
        <td width="20%"><button class="submit">去结算</button></td>
        <td width="3%"></td>
    </tr>
</table>
</div> 


</form>
</div>
{% endblock %}