{%extends 'base.html'%}

{% block title %}LogIn{% endblock %}

{% block content %}
 		
        <div class="container">
            <!-- Codrops top bar -->

            <section>				
                <div id="container_demo" >
                    <!-- hidden anchor to stop jump http://www.css3create.com/Astuce-Empecher-le-scroll-avec-l-utilisation-de-target#wrap4  -->
                    <a class="hiddenanchor" id="toregister"></a>
                    <a class="hiddenanchor" id="tologin"></a>
                    <div id="wrapper">
                        <div id="login" class="animate form">
                            <form  action="/login/" method="get" autocomplete="on"> 
                                <h1>登 录</h1> 
                                <p> 
                                    <label for="username" class="uname" data-icon="u" > 用户名/邮箱 </label>
                                    <input id="username" name="username" required="required" type="text" placeholder="username/email"/>
                                </p>
                                <p> 
                                    <label for="password" class="youpasswd" data-icon="p"> 密码 </label>
                                    <input id="password" name="password" required="required" type="password" placeholder="password" /> 
                                </p>
                                <p class="login button"> 
                                    <input type="submit" value="登录" /> 
								</p>
                                <p class="change_link">
									还没有账户？
									<a href="#toregister" class="to_register">注册新用户</a>
								</p>
                            </form>
                        </div>

                        <div id="register" class="animate form">
                            <form  action="/register/" method="get" autocomplete="on"> 
                                <h1> 注册新用户 </h1> 
                                <p> 
                                    <label for="usernamesignup" class="uname" data-icon="u">用户名</label>
                                    <input id="usernamesignup" name="usernamesignup" required="required" type="text" placeholder="username" />
                                </p>
                                <p> 
                                    <label for="emailsignup" class="youmail" data-icon="e" > 邮箱</label>
                                    <input id="emailsignup" name="emailsignup" required="required" type="email" placeholder="email"/> 
                                </p>
                                <p> 
                                    <label for="passwordsignup" class="youpasswd" data-icon="p">密码 </label>
                                    <input id="passwordsignup" name="passwordsignup" required="required" type="password" placeholder="password"/>
                                </p>
                                <p> 
                                    <label for="passwordsignup_confirm" class="youpasswd" data-icon="p">请确认密码 </label>
                                    <input id="passwordsignup_confirm" name="passwordsignup_confirm" required="required" type="password" placeholder="confirm password"/>
                                </p>
                                <p class="signin button"> 
									<input type="submit" value="提交"/> 
								</p>
                                <p class="change_link">  
									已经注册过了？
									<a href="#tologin" class="to_register"> 现在去登录 </a>
								</p>
                            </form>
                        </div>
						
                    </div>
                </div>  
            </section>
        </div>

{% endblock %}