{%extends 'base.html'%}

{% block title %}Modify{% endblock %}

{% block content %}
        <div class="container">
            <!-- Codrops top bar -->
            <section>				
                <div id="container_demo" >
                    <a class="hiddenanchor" id="toinformation"></a>
                    <div id="wrapper">
                        <div id="information" class="animate form">
                            <form  action="/modify/" method="get" autocomplete="on"> 
                                <h1> 个人信息维护 </h1> 
                                <p> 
                                    <label for="nicknamesignup" class="nickname">昵称 </label>
                                    <input id="nicknamesignup" name="nicknamesignup" required="required" type="txt" placeholder="nickname" value={{dic.nickname}}>
                                </p>
                                <p>
                                <label for="sexchoose" class="sex">性别 </label>
                                <br />
                                <select name="sexchoose">
                                <option value="male">男(male)</option>
                                <option value="female">女(female)</option>
                                </select>
                                </p>
                                <p> 
                                    <label for="emailsignup" class="youmail" > 邮箱</label>
                                    <input id="emailsignup" name="emailsignup" required="required" type="email" placeholder="email" value={{dic.email}}> 
                                </p>
                                <p> 
                                    <label for="addresssignup" class="address">收货地址</label>
                                    <input id="addresssignup" name="addresssignup" required="required" type="text" placeholder="address" value={{dic.address}}>
                                </p>
                                <p> 
                                    <label for="passwordsignup" class="youpasswd">新密码 </label>
                                    <input id="passwordsignup" name="passwordsignup" required="required" type="password" placeholder="password"/>
                                </p>
                                <p> 
                                    <label for="passwordsignup_confirm" class="youpasswd" >请确认密码 </label>
                                    <input id="passwordsignup_confirm" name="passwordsignup_confirm" required="required" type="password" placeholder="confirm password"/>
                                </p>
                                <p class="signin button"> 
                                    <input type="submit" value="提交"/> 
                                </p>
                            </form>
                        </div>
                        
                    </div>
                </div>  
            </section>
        </div>
{% endblock %}