
        <div>
          
            
        </div>
        <div class="menu">
            <div class="item">
                <a class="link icon_call"></a>
                <div class="item_content">
                    <h2>联系我们</h2>
                    <p>
                        <a href="mailto:info@tympanus.net">eMail</a>
                        <a href="http://www.twitter.com/codrops/">Twitter</a>
                        <a href="http://www.facebook.com/pages/Codrops/159107397912">Facebook</a>
                    </p>
                </div>
            </div>
            <div class="item">
                <a class="link icon_cart"></a>
                <div class="item_content">
                    <h2>收藏</h2>
                    <p>
                        <a href="#">查看</a>
                        <a href="#">添加</a>
                        <a href="#">清空</a>
                    </p>
                </div>
            </div>
            <div class="item">
                <a class="link icon_order"></a>
                <div class="item_content">
                    <h2>订单</h2>
                    <p>
                        <a href="#">查看</a>
                        <input type="text"></input>
                        <a href="">Go</a>
                    </p>
                </div>
            </div>
            <div class="item">
                <a class="link icon_shop"></a>
                <div class="item_content">
                    <h2>购物车</h2>
                    <p>
                        <a href="#">查看</a>
                        <a href="#">添加</a>
                        <a href="#">清空</a>
                    </p>
                </div>
            </div>
            <div class="item">
                <a class="link icon_log"></a>
                <div class="item_content">
                    <h2>Start from here</h2>
                    <p>
                        <a href="http://www.tympanus.net/">登录</a>
                        <a href="http://www.tympanus.net/">注册</a>
                       
                    </p>
                </div>
            </div>
            




<br/>

        </div>