#index_content{
    position: fixed;
    margin-top: 10%;
    left: 10%;
    top: 10%;
}
.menu{
    position: absolute; 
    z-index: 100;
    width:100%;
    height:52px;
    font-family: "Trebuchet MS", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: bold;
    text-transform: uppercase;
    right: 0%;
    float:left;
    background-color:transparent;
}
.item{
	position:relative;
	background-color:#FFF;
	float:right;
	width:52px;
	margin:0px 5px;
	height:52px;
	border:2px solid #ddd;
	-moz-border-radius:30px;
	-webkit-border-radius:30px;
	border-radius:30px;
	-moz-box-shadow:1px 1px 3px #555;
	-webkit-box-shadow:1px 1px 3px #555;
	box-shadow:1px 1px 3px #555;
	cursor:pointer;
	overflow:hidden;
}

.link{
    left:2px;
    top:2px;
    position:absolute;
    width:48px;
    height:48px;
}
.icon_log{
    background:transparent url(../images/log.png) no-repeat top left;
	
}
.icon_shop{
    background:transparent url(../images/shop.png) no-repeat top left;
}
.icon_cart{
    background:transparent url(../images/cart.png) no-repeat top left;
}
.icon_order{
    background:transparent url(../images/order.png) no-repeat top left;
}
.icon_call{
    background:transparent url(../images/call.png) no-repeat top left;
}
.item_content{
    position:absolute;
    height:52px;
    width:220px;
    overflow:hidden;
    left:56px;
    top:7px;
    background:transparent;
    display:none;
}
.item_content h2{
    color:#aaa;
    text-shadow: 1px 1px 1px #fff;
    background-color:transparent;
    font-size:14px;
}
.item_content a{
    background-color:transparent;
    float:left;
    margin-right:7px;
    margin-top:3px;
    color:#bbb;
    text-shadow: 1px 1px 1px #fff;
    text-decoration:none;
    font-size:12px;
}
.item_content a:hover{
    color:#0b965b;
}
.item_content p {
    background-color:transparent;
    display:none;
}
.item_content p input{
    border:1px solid #ccc;
    padding:1px;
    width:155px;
    float:left;
    margin-right:5px;
}